html{
    background-color: #f7f8fa;
}

body{
    margin: 0;
}

.inner{
    max-width: 90%;
    margin: 0 auto;
}

img{
    width: 400px;
    height: 400px;
}

h1{
    margin-left: 5%;
}

.item{
    text-align: center;
}

header{
    background-color:#b8ddf5;
    padding: 3px;
}

li{
    list-style: none;
    font-size: 16px;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: #000;
}

.index,.main,.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav{
    display: flex;
}

.nav_sub{
    padding-top: 2%;
}

.content, .index{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f7f8fa;
}

.home{
    padding-left: 2%;
}


.good_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}

.article_image{
    margin-top: 50px;
}

.article_text{
   width:50%;
}

.smallimg ul{
    display: flex;
    padding: 0;
    padding-left: 50px;
}

.smallimg img{
    width: 100px;
    height: 100px;
}

.goodmain{
    margin-bottom: 50px;
}

.goodmain:hover {
    box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
    transform:translate(0, -2px);
}

/*botton*/
.btn,
a.btn,
button.btn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--color,
a.btn--color {
  color: #fff;
  background-color: #a7c3f2;
}
.btn--color:hover,
a.btn--color:hover {
  color: #fff;
  background: #a7c3f2;
}

a:hover{
    color: #6898f7;
}

footer{
    font-size: 12px;
    text-align: center;
    background-color:#b8ddf5;
    padding: 3px;
}