---
title: My Shop
pagination:
  data: goods
  size: 1
  alias: good
permalink: 'goods/{{ good.url | slugify }}/'
layout: layout.njk
csspath: ../css/
---

{{ good | log }}

<h1>{{ title }}</h1>
<div class="nav">
	<p class="home">home</p>
	<p class="about">about</p>
</div>


<div class="main">
<img class="bigphoto" src="/images/{{ good.itemphotos[0] }}" />
{% for photo in good.itemphotos %}
<img src="/images/{{ photo }}" />
{% endfor %}
<ul>
	<li>{{ good.name }}</li>
	<li>{{ good.price }}</li>
  <li>{{ good.state }}</li>
  <li>{{ good.text }}</li>
  <li>{{ good.id }}</li>
  <li>{{ good.colors }}</li>
  <li>{{ good.maker }}</li>
  <li>{{ good.url }}</li>
</ul>
</div>