---
title: SofttoyShop
layout: layout.njk
csspath: ./css/
---
<header>
<div class="inner">
	<div class="nav">
		<h1><a href="../../index.html">{{ title }}</a></h1>
		<div class="nav_sub">
			<ul>
				<li class="home"><a href="../../index.html">home</a></li>
			</ul>
		</div>
	</div>
</header>

<h2 class="item">item</h2>

<div class="main inner">
<ul class="index">
	{% for good in goods %}
	<section class="goodmain">
	<a href="goods/{{ good.url }}">
	<div class="mainimage">
		<img src="images/{{ good.itemphotos[0] }}" alt="{{ good.name }}メイン画像" />
		<li>{{ good.name }}</li>
	<li>{{ good.price }}</li>
	<li class="state">{{ good.state }}</li>
	</div>
	</a>
</section>
	{% endfor %}
</ul>
</div>

<footer>
<small>softtoyshop2022</small>
</footer>
<script src="js/script.js"></script>